
html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	background-color:#083d8c;
	background-image: url('../images/back_small.jpg');
	background-size: cover;
	margin:0px;
	padding:0px;
	color:#262626;
	font-family:Verdana;
	font-size:14px;
	background-attachment: fixed;
}



#bar {
	background-color:#212121;
	color:#ffffff;
	height:40px;
	width:100%;
	display: block;
	position: relative;
}

#nav {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

#nav li {
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:left;
}

#nav li a {
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:8px 13px 0px 13px;
	display:block;
	text-decoration:none;
	height:31px;
}

#nav li a.selected, #nav li a:hover {
	background-color:#313131;
}





.congruent {
	margin:0px auto;
	width:80%;
	min-width: 1100px;
}

#wrapper {
	position:relative;
}


#banner {
	background-color:#3f99f1;
	background-image:url('../images/banner.png');
	height:120px;
	border-bottom:1px solid #0456BE;
	background-repeat: no-repeat;
	background-position: center;
	display: table-cell;
}

#site_name {
	color: rgba(255,255,255,.9);
	font-family: 'Open Sans', Verdana, Arial;
	font-size: 45px;
	text-shadow: 0px 0px 50px rgba(255,255,255,.9);
	text-align: center;
	padding-top: 27px;
}

#content {
	background-color: rgba(239, 239, 239, 0.9);
	height:100%;
	display: table-cell;
}

#bottom {
	background-color: rgba(239, 239, 239, 0.9);
	display: table-cell;
}

footer {
	font-size: 12px;
	text-align: center;
	padding: 30px 20px;
}

.container {
	display: table;
	width: 100%;
}

.content_left_border {
	background-color:#1b4c95;
	width:10px;
	height:100%;
	display: table-cell;
}

.content_right_border {
	background-color:#1b4c95;
	width:10px;
	height:100%;
	display: table-cell;
}

.content_bottom_border {
	background-color:#1b4c95;
	height: 10px;
	width: 100%;
}

.left_bar li.search {
	padding: 8px 10px 8px 8px;
}

#search_holder {
	border: 1px solid #c4c4c4;
	border-bottom-color: #959595;
	background-color: #fff;
	border-radius: 3px;
	display: table;
	width: 100%;
}

#artificial_searchbox {
	display: table-cell;
	padding: 3px 7px;
	vertical-align: middle;
}

#artificial_searchbox input {
	border: 0px;
	width: 100%;
	outline: 0px;
	font-size: 16px;
}

#search_holder img {
	display: table-cell;
	margin: 4px 4px 0px 0px;
	vertical-align: middle;
}

.left_bar {
	background-color:#FBFBFB;
	width:250px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	display: table-cell;
	vertical-align: top;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #959595;
}

.left_bar li {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.left_bar li .header {
	background-color: #1b4c95;
	color: #fff;
	width: 230px;
	padding: 10px;
	position: relative;
}

.left_bar li .header div {
	display: block;
	position: absolute;
	top: 0px;
	height:100%;
	width: 13px;
	right: -12px;
	background-color: #1b4c95;
}

.left_bar li .header div img {
	position: absolute;
	bottom: -11px;
	right:0px;
}

.left_bar li a {
	border: 0px;
	color:#262626;
	font-family:Verdana;
	font-size:14px;
	padding:12px 14px 12px 10px;
	display:block;
	text-decoration:none;
}

.left_bar li a div {
	display: none;
}

.left_bar li a.selected {
	background-color: #EBF2F7;
	border-right: 4px solid #0D8FE6;
}

.left_bar li a:hover {
	background-color:#D1EEFF;
	border-right: 4px solid #0D8FE6;
	padding-right: 10px;
}

.right_content {
	margin:0px;
	padding:0px;
	list-style-type:none;
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

#sortby {
	text-align: right;
	padding: 11px 10px 0px;
	height: 37px;
	float: right;
}

.right_content li {
	margin:0px;
	padding:0px;
	list-style-type:none;
}






.kw_holder {
	margin: 35px 20px 20px 40px;
	padding: 0px;
	list-style-type: none;
}

li.kw {
	margin: 0px 15px 10px 0px;
	list-style-type: none;
	float: left;
}

li.clear {
	clear: both;
}

li.kw a {
	margin:0px;
	padding: 6px 30px;
	display: block;
	border: 1px solid #21A1FF;
	text-align: center;
	font-size: 20px;
	background-color: #FBFBFB;
	color: #21A1FF;
	border-radius: 3px;
	text-decoration: none;
	font-family: 'Open Sans', 'Verdana';
}

li.kw a:hover {
	color: #FFFFFF;
	background-color: #33B5FF;
}

li.more_kw {
	margin: 0px 30px;
}




.page_title {
	margin: 30px 3% 30px 4%;
	padding: 0px;
	list-style-type: none;
	font-size: 25px;
	font-family: 'Open Sans', Verdana;
}




li.entry {
	margin: 0px 6% 50px 7%;
}